body {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  
}

#title {
  font-family: 'Anton', sans-serif;
  font: uppercase;
}

#hangmanProgress {
  border-left: 5px solid red;
  border-right: 5px solid red;
  border-radius: 10%;
  background-color: lightgray;
  opacity: 0.6;
  display:inline-block;
  margin: 1em;
  padding: .5em;
}

#content {
  border-left: 5px solid purple;
  border-right: 5px solid purple;
  border-radius: 5%;
  background-color: lightgray;
  opacity: 0.8;
  display:inline-block;
  margin: 1em;
  padding: .5em;
}

#wordStats {
  font-family: 'Raleway Dots', cursive;
}